{#
/**
 * @file
 * Theme override to display a single page for page content type nodes.
 */
#}
{% extends 'page.html.twig' %}
{% block main %}
  <main role="main" class="section section--full-width section--content{{ page.sidebar_first ? ' with-sidebar-first' }}{{ page.sidebar_second ? ' with-sidebar-second' }}">
    <a id="main-content" tabindex="-1"></a>
    <div class="section__inner">
      <div class="section__layout-content">
        {{ page.content }}
      </div>
      {% if page.sidebar_first %}
        <aside class="section__layout-sidebar-first" role="complementary">
          {{ page.sidebar_first }}
        </aside>
      {% endif %}
      {% if page.sidebar_second %}
        <aside class="section__layout-sidebar-second" role="complementary">
          {{ page.sidebar_second }}
        </aside>
      {% endif %}
    </div>
  </main>
{% endblock %}